[Unit]
Description=Spring boot project service
After=syslog.target network.target

[Service]
Type=simple
User=tomcat
Group=tomcat
WorkingDirectory=/opt/apache-tomcat-9.0.13
ExecStart=/opt/apache-tomcat-9.0.13/bin/startup.sh
ExecStop=/opt/apache-tomcat-9.0.13/bin/shutdown.sh
Restart=on-abort
TimeoutSec=300
SyslogIdentifier=tomcat-%i
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
